<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BarcodeReceptionAssistant.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <BarcodeReceptionAssistant.My.MySettings>
            <setting name="開始番号" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="検索モード" serializeAs="String">
                <value>全文一致</value>
            </setting>
            <setting name="出力先パス" serializeAs="String">
                <value />
            </setting>
            <setting name="受信方法" serializeAs="String">
                <value>USB(HID)</value>
            </setting>
            <setting name="ログファイルパス" serializeAs="String">
                <value>./log.txt</value>
            </setting>
            <setting name="バーコードカラム名" serializeAs="String">
                <value>在籍番号</value>
            </setting>
            <setting name="入力カラム名" serializeAs="String">
                <value>整理番号</value>
            </setting>
            <setting name="出力ファイル名" serializeAs="String">
                <value>受付後健診簿</value>
            </setting>
            <setting name="白紙バーコードNo" serializeAs="String">
                <value>XXXXX</value>
            </setting>
            <setting name="ダイアローグ表示カラム" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>性別</string>
                        <string>所属</string>
                        <string>フリガナ</string>
                        <string>生年月日</string>
                        <string>年齢</string>
                        <string>整理番号</string>
                        <string>コース</string>
                        <string>協会けんぽ</string>
                        <string>備考</string>
                    </ArrayOfString>
                </value>
            </setting>
        </BarcodeReceptionAssistant.My.MySettings>
    </userSettings>
</configuration>