<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BarcodeReceptionAssistant.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <BarcodeReceptionAssistant.My.MySettings>
            <setting name="開始番号" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="検索モード" serializeAs="String">
                <value>全文一致</value>
            </setting>
            <setting name="出力先パス" serializeAs="String">
                <value />
            </setting>
            <setting name="受信方法" serializeAs="String">
                <value>USB(HID)</value>
            </setting>
            <setting name="ログファイルパス" serializeAs="String">
                <value>./log.txt</value>
            </setting>
            <setting name="バーコードカラム名" serializeAs="String">
                <value>在籍番号</value>
            </setting>
            <setting name="入力カラム名" serializeAs="String">
                <value>整理番号</value>
            </setting>
        </BarcodeReceptionAssistant.My.MySettings>
    </userSettings>
</configuration>